:root {
  font-size: 16px;
}

body {
  background-color: whitesmoke;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Target desktop only */
@media (min-width: 801px) {
  body {
    align-items: center;
    padding: 2rem 4rem;
  }

  .content {
    width: 60%;
    margin: auto;
  }
}

/* Add padding to bottom for devices with curved screens */
@media (max-width: 800px) {
  body {
    padding: 0 0 2rem 0;
  }
}

.bold {
  font-weight: bold;
}

.amounts {
  background-color: inherit;
  border: none;
}

.subheader {
  margin-bottom: 2rem;
}

/* .breakdown-container {
  display: flex;
  margin-right: 20px;
} */

.breakdown-label-value-pair {
  width: 100%;
}

/* ew */
#base-furlough-pay {
  margin-top: 1rem;
}

.flex-container_space-between {
  display: flex;
  justify-content: space-between;
}

.content {
  max-width: 600px;
}

.pay-input {
  font-weight: bold;
  background-color: inherit;
  padding: 5px;
  border: 2px solid black;
  box-shadow: none;
  font-size: 20px;
  letter-spacing: 0.08rem;
  text-align: right;
  max-width: 35vw;
}

.pay-input:focus {
  border: 2px solid rebeccapurple;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: lightgrey;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: lightgrey;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: lightgrey;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: lightgrey;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: lightgrey;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: lightgrey;
}

.touched:required:invalid {
  border: 2px solid red;
}

.pay-label {
  position: relative;
}

.pay-label:before {
  content: "£";
  font-weight: bold;
  position: absolute;
  left: 12px;
  top: 11px;
}

.pay-text {
  margin: 1rem 0;
  margin-bottom: 0.5rem;
  margin-right: 2rem;
  white-space: nowrap;
}

.pound-small {
  font-size: 16px;
  font-weight: bold;
}

.money-small {
  font-size: 20px;
  margin-left: 0.05rem;
  font-weight: bold;
}

.pound-big {
  font-size: 20px;
  font-weight: bold;
}

.money-big {
  margin-left: 0.05rem;
  font-size: 32px;
  font-weight: bold;
}

p {
  margin: 0.7rem;
  margin-left: 0;
  margin-right: 0;
}

#calculation-output-before-tax-description {
  padding-left: 0.5rem;
  white-space: nowrap;
}

.text-lightgrey {
  color: lightgrey;
}

.text-grey {
  color: grey;
}

/* Disclaimer */

.information-box {
  margin-top: 2rem;
  display: flex;
  background-color: #d9edf9;
  padding: 1rem;
  border: 2px solid #57c3ff;
  border-radius: 5px;
}

.information-heading {
  margin: 0;
}

.information-content {
  margin-left: 1rem;
}

.more-help-title {
  margin-bottom: 0.4rem;
}

hr {
  margin-top: 3rem;
}

.feedback-text {
  color: grey;
  margin-top: 0.2rem;
}
