:root {
  font-size: 16px;
}

body {
  background-color: whitesmoke;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 2rem 6rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.bold {
  font-weight: bold;
}

.amounts {
  background-color: inherit;
  border: none;
}

.flex-container {
  display: flex;
}

.content {
  width: 60%;
}

.salary-input {
  background-color: inherit;
  padding: 5px;
  padding-left: 20px;
  border: 2px solid black;
  box-shadow: none;
  font-size: 16px;
  letter-spacing: 0.08rem;
}

.salary-input:focus {
  border: 2px solid rebeccapurple;
}

.touched:required:invalid {
  border: 2px solid red;
}

.salary-label {
  position: relative;
}

.salary-label:before {
  content: "£";
  position: absolute;
  font-weight: bold;
  left: 8px;
  top: 0;
}

.salary-text {
  margin: 1rem 0;
  margin-bottom: 0.5rem;
}

#calculation-output {
  margin-left: 0.1rem;
}

.disclaimer {
  color: grey;
}

hr {
  margin-top: 3rem;
}

.feedback-text {
  color: grey;
}

.submit-button {
  border: 2px solid black;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  background-color: #00e2ac;
}
