:root {
  font-size: 16px;
}

body {
  background-color: whitesmoke;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 2rem 6rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.bold {
  font-weight: bold;
}

.amounts {
  background-color: inherit;
  border: none;
}

.flex-container {
  display: flex;
}

.content {
  width: 60%;
}

.salary-input {
  border: none;
  background-color: inherit;
}

.salary-label:focus-within {
  border: 2px solid rebeccapurple;
}

.salary-label {
  border: 2px solid black;
  font-weight: bold;
  padding: 5px;
}

.salary-text {
  margin: 1rem 0;
}

.calculation-output {
  margin-left: 0.2rem;
}

.disclaimer {
  color: grey;
}
